html {
  font-family: "Lexend", sans-serif;
}

.home-jaipur {
  font-size: 1.7em;
}
.left-part hr {
  width: 50%;
  margin: 25px 25px 25px 0px;
}

.left-part img {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

.left-part h4 {
  margin: 10px;
  font-size: 30px;
}

.left-center {
  margin-top: 30%;
}
.capatalize {
  text-transform: capitalize;
}

.right-part {
  float: right;
  background-color: #f7f6f5;
  /* height: auto; */
  width: 70%;
  position: relative;
  /* border-top-right-radius: 40px;
  border-bottom-right-radius: 40px; */
}

input {
  border: white;
}

.right-part h2 {
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: und;
}

.small-card-container {
  display: flex;
  margin-left: 60px;
  flex-flow: row wrap;
}

.big-card-container {
  display: flex;
  margin-left: 50px;
  margin-top: 5px;
  flex-flow: row wrap;
}
.small-card {
  background-color: white;
  width: 100px;
  height: 120px;
  border-radius: 25px;
  margin: 6px;
  text-align: center;
}

.small-card img {
  width: 50%;
  height: auto;
  margin: 15px;
}

.small-card h3,
h4 {
  margin: auto;
  font-size: small;
}

.small-card .temp {
  display: flex;
}

.big-card {
  background-color: white;
  width: 235px;
  height: 180px;
  border-radius: 25px;
  margin: 10px;
}

.big-card h3 {
  margin: 25px;
}

.temp .min-temp {
  color: gray;
}

.unit-widget {
  position: absolute;
  right: 100px;
  top: 30px;
}

.c-widget {
  width: 10px;
  margin-left: 20px;
  padding: 3px;
  font-weight: bold;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 15px;
}

.f-widget {
  width: 10px;
  margin: 5px;
  padding: 3px;
  font-weight: bold;
  border-radius: 50%;
  background-color: white;
  font-size: 15px;
}

.sunrise-sunset img {
  width: 20%;
  margin: 12px;
}

.sunrise-sunset h3 {
  margin: 5px;
  text-align: center;
}

.sunrise {
  display: flex;
}

.sunset {
  display: flex;
}

.wind-status {
  display: flex;
}

.wind-status img {
  width: 20%;
}

.humidity {
  display: flex;
  text-align: center;
}

@media only screen and (max-width: 775px) {
  .left-part {
    float: left;
    background-color: white;
    width: 30%;
    /* border-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    left: 10px;
    position: fixed;
  }

  .big-card h1 {
    margin: 5px;
  }

  .humidity h1 {
    margin-left: 20px;
  }
  .humidity img {
    width: 20%;
  }
}

.visibility {
  display: flex;
}

.visibility img {
  width: 20%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 775px) {
  .left-part {
    float: left;
    background-color: white;
    width: 30%;
    /* border-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    left: 50px;
    position: fixed;
  }

  .big-card h1 {
    margin: 35px;
  }

  .humidity h1 {
    margin-left: 40px;
    margin-right: 10px;
  }
  .humidity img {
    /* margin-left: 20px; */
    width: 20%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1150px) {
  .left-part {
    float: left;
    background-color: white;
    width: 30%;
    /* border-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    position: fixed;
    left: 100px;
  }

  .big-card h1 {
    margin: 35px;
  }

  .humidity h1 {
    margin-left: 50px;
    margin-right: 10px;
  }
  .humidity img {
    margin-left: 0px;
    width: 20%;
  }
}
